@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<title>XX搬運 - Login</title>
</head>

<body>
	@* TEST *@
	<a href="/home/index" style="font-size: 20px; position: absolute; height:30px; color: red;">TEST:index</a>

	<div style="height: 100vh; display: grid; place-items: center;">
		<div style="display: grid; place-items: center; grid-template-rows:30px 2px 168px; border: 2px solid #888888; border-radius: 10px; overflow: hidden;">
			<div style="width:400px; background-color:#ffefbf; position: relative; text-align: center; font-size: 20px">
				系統登入 
			</div>
			<div style="width:400px; height: 2px; background-color:#888888"></div>
			<div style="width:400px; height: 168px; background-color:#fff7e1; display: grid; place-items: center;">
				<div>
					<label for="username">帳號：</label>
					<input type="text" id="username" name="username" placeholder="請輸入帳號" required>
				</div>
				<!-- 密碼欄位 -->
				<div>
					<label for="password">密碼：</label>
					<input type="password" id="password" name="password" placeholder="請輸入密碼" required>
				</div>
				<button type="submit" style="width: 250px; border-radius:25px">登入</button>				
			</div>
		</div>
	</div>
</body>
</html>
